/* todo | Opciones de diseño */

/* 

--- 01 Tipografia

- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
other: 500, 600, 700

- Line heights
Default: 1

--- 02 Colores

- Primario: #7e26c7 ,#b11fff,
- Tints: #, 
- Shades: #;
- Accents
- Greys: #555, #444, #333, 

--- 05 Sombras

--- 06 Border-radius

--- 07 Espacio en Blanco

- Spacing (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ! Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #555;
  font-family: "Rubik", serif;
  line-height: 1;
  font-weight: 400;
}

/* ? ********************* */
/* ? NAV ******************/

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #112b3c;
  padding: 1.5rem 4rem;
}

.logo:link {
  /* font-size: 18px; */
  text-decoration: none;
}

.navBar {
  display: flex;
  gap: 1.5rem;
}

/* ! => Span */
.effectLogo {
  display: inline-block;
  position: relative;
  /* animation-name: var(--eVercelS, b);
  animation-duration: 6s;
  animation-iteration-count: infinite; */
  color: transparent;
}

.effectLogo::before {
  /* animation-name: var(--vercelGrad, a);
  animation-duration: 6s;
  animation-iteration-count: infinite; */
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  /* inset: 0;
  opacity: 1; */
  content: var(--content);
}

a:link,
a:visited {
  color: #555;
  text-decoration: none;
}

a:hover,
a:active {
  color: #f9cb28;
  /* color: #112b3c; */
}

/* ? ********************* */
/* ? HEADER */

.section-hero {
  /* background-color: #fdf2e9; */
  padding-top: 7.4rem;
  position: relative;
}

.hero {
  max-width: 171rem;
  /* height: 100vh; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  /* gap: 9.6rem; */
}

.heroJS {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.primary-text-hero {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -2px;
  color: #333;
  margin-bottom: 1.2rem;
}

.secondary-text-hero {
  font-size: 2.4rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 3rem;
}

.description-text-hero {
  font-size: 2.1rem;
  margin-bottom: 1.8rem;
  letter-spacing: -1px;
  text-align: center;
}

.text-end {
  margin-bottom: 4.8rem;
  width: 80%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: background-color 0.3s;
  background-color: #b11fff;
  color: #fff;
}

.btn:hover,
.btn:active {
  background-color: #7e26c7;
}

canvas {
  display: block;
}

/* ? ********************* */
/* ? ABOUT ME */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-card {
  position: relative;
  width: 350px;
  height: 190px;
  /* height: 450px; */
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.profile-card:hover {
  height: 450px;
}

.imgP {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.profile-card:hover .imgP {
  width: 250px;
  height: 250px;
}

.imgP img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.details {
  padding: 35px;
  /* padding-bottom: 15px; */
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.profile-card:hover .details {
  transform: translateY(0px);
}

.textDetails1 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}

.textDetails2 {
  font-size: 0.75em;
  font-weight: 500;
  color: #555;
  opacity: 0.6;
}

.data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  margin-bottom: 30px;
}

.data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
  flex: 1;
}

.textDetails3 {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.6;
}

.actionBtn {
  display: flex;
  justify-content: space-between;
}

.actionBtn button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  background: #a527c3;
  color: #fff;
  cursor: pointer;
}

.actionBtn button:nth-child(2) {
  padding: 10px 25px;
  border: 1px solid #999;
  color: #999;
  background: #fff;
}
